html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* ensures full height for child elements */
}

.app-container {
  font-family: 'DM Mono', monospace;
  color: #28282A;
  background-color: #F5F5F3;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding:0;
}

.page-title {
  margin-left: 5rem;
  font-size: xx-large;
  letter-spacing: 0.5rem;
  flex: 2;
}

.page-body{
  display: flex;
  height: 60vh;
}

/******************************************************************/
/********************* BROWSE STYLING **************************/
/******************************************************************/

.browse-grid{
  flex: 1;
}

.browse-search{
  flex: 1;
  height: 9vh;
  color: #00000080;
  text-align: right;
  margin-right: 5rem;
  font-size: x-large;
  align-items: center;
  padding-top: 10rem;
  margin-left: 10rem;
  border-bottom: 3px solid #CD1C18;
}

/******************************************************************/
/********************* LIBRARIES STYLING **************************/
/******************************************************************/



.sidebar {
  margin-top: 5rem;
  flex: 2;
  line-height: 60px;
  font-size: x-large;
  text-align: center;
  align-items: center;
  height: 40vh;
  border-right: 3px solid #CD1C18;
}

.book-grid {
  flex: 4;
}



/******************************************************************/
/********************* PROFILE STYLING ****************************/
/******************************************************************/

.profile-header{
  display: flex;
  align-items: baseline;
  color: #28282A;
  letter-spacing: 0.5rem;
}

.username{
  flex: 1;
  font-size: xx-large;
  letter-spacing: 0.2rem;
  text-align: right;
  margin-right: 5rem;
}

.split {
  display: flex;
  justify-content: center;
}

.profile-left {
  margin-top: 5rem;
  flex: 1;
  line-height: 60px;
  font-size: xx-large;
  text-align: center;
  align-items: center;
  border-right: 3px solid #CD1C18;
}

.profile-right {
  flex: 1;
}


/******************************************************************/
/***************************** FONTS ******************************/
/******************************************************************/


.dm-mono-light {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.dm-mono-regular {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.dm-mono-medium {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.dm-mono-light-italic {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.dm-mono-regular-italic {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.dm-mono-medium-italic {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: italic;
}

