spring:
    application:
        name: booky

    datasource:
        url: ${DB_URL}
        username: ${DB_USER}
        password: ${DB_PW}
        driver-class-name: org.postgresql.Driver

    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                format_sql: true

server:
    port: 8080

logging:
    level:
        com.example.booky: DEBUG

jwt:
    secret: ${SECRET}
